//
// Styles for main layout
// --------------------------------------------------


h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

.article-content {
    clear: both;
}

.date {
    background-color: $blue;
    color: white;
    font-size: 0.90em;
    float: left;
    border-radius: 50%;
    height: 75px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 75px;
}

.day {
    margin-top: -1px;
  
}

.month {
    font-size: .55em;
    padding-top: 6px;

}

.year {
    font-size: .35em;

}
footer.container {
    color: $gray;
    margin-top: 30px;
    padding: 30px;
    border-top: 1px dashed #aaa;
}

.header-container {
    padding: 0px 15px;
}

.headshot {
    img {
        max-width: 250px;
    } 
}

.hm-posts li:first-child {
    padding-left: 0px;
}

.hm-posts:last-child {
    padding-right: 0px;
}

.hm-posts {
    li {
        list-style: none;
    }
}

.image-header {
    margin-bottom: 1em;
}

.image-header-posts {
    @extend .image-header;
}

.image-header-projects {
    @extend .image-header;
}

div.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    h1 {
        font-size: 50px;
        margin-top: 0px;
    }
}

.container .jumbotron {
    margin-top: 30px;
    h1 {
        color: $blue;
    }
}

.mainContent.container {
    margin-top: 4em;
    padding-left: 0px;
    padding-right: 0px;
}

.mainContent, footer.container {
    max-width: 1170px;
}

.name-social  {
    ul {
        @include display-flex;
        @include justify-content(space-around);
        @include align-items(center);
        margin: 1em 0em;
        padding: 0px;
        width: 100%;
    }
    li {
        list-style: none;
    }
}

.project-image-header {
    margin-bottom: 1em;
}

.project-teaser {
    ul {
        margin: 0em;
        padding: 0em;
    }

    li {
        border-bottom: dotted 1px $grey;
        list-style: none;
        margin-bottom: 2em;
        padding-bottom: 1em;
    }
    li:first-child {
        padding-top: 1em;
    }

    li:last-child {
        border-bottom: none;
    }
}


.project-title {
    background-color: $white;
    border: 1px solid $gray-lighter;
    font-size: 1.4em;
    padding: 10px 0px;
    text-align: center;
    a {
        color: $grey;
    }
}

.project-title-teaser {
    font-size: 1.6em;
}

.project-teaser-text .btn {
    margin: 1em 0em;
}

.project-one.col-md-6 {
    padding: 0px 0px;
    margin-bottom: 2em;
    @include breakpoint($desktop) {
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 15px;
    }
}

.project-two.col-md-6 {
    padding: 0px 0px;
       @include breakpoint($desktop) {
        padding-right: 0px;
        padding-left: 15px;
    }
}

.sidebar { 
	@include breakpoint ($tablet) {
		padding-top: 30px;
	}    
}

.sidebar-tools {
    font-size: 1.2em;
    h2 {
        margin: 0px;
    }
    li {
        clear: both;
        padding: 0.3em 0em;
    }

    .fa-wrench {
        float: left;
        width: 2px;
    }
}

.well {
    text-align: center;
    ul {
        padding: 0px;
    }

    li {
        list-style: none;
    }
}

.sidebar-contact {
    @extend .well;
    background-color: $blue !important;
    color: $white;
    display: block;
    font-size: 1.8em;
    padding: 1.3em 0em !important;
    width: 100%;
    &:hover {
        background-color: darken($blue, 3%) !important;
        color: $white;
    }

    .fa-envelope-o {
        margin-right: 15px;
    }
}

