.brand-name,
.brand-number {
	float:left;
}

.brand-number {
	color: $orange;
}


.navbar-default .container-fluid {
	max-width: 1140px;
}

 a.navbar-brand {
 	color: $white !important;
 	font-size: 40px;
 	&:hover {
 		color: $blue !important;
 	}
}


.navbar-fixed-top {
	padding: 5px 0px;
}

ul.navbar-nav {
	li {
		font-size: 1.3em;
	}
}

