//
// Custom Colors
// --------------------------------------------------

$kc-orange: 	#F7931E;
$kc-gray:	 	#736f68;
$kc-blue:		#12A7C9;
$kc-white:		#f7f9f9;		
$kc-black:		#020202;

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$gray-lightest:          lighten(#000, 97.5%) !default; // #eee


// Brand colors
// --
$primary: $kc-orange;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;


// stylelint-enable value-keyword-case

$font-size-base:              1.25rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.35 !default;
$font-size-sm:                $font-size-base * .875 !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

// Navbar 


$navbar-dark-color: $kc-white !default;
$navbar-dark-toggler-border-color: $kc-white;